#content {
  display: grid;
  grid-template: 1fr 10fr / 1fr;
  border: 1px solid black;
}

#content * {
  display: grid;
  border: 1 solid black;
}

#pageTitle {
  grid-row: span 1;
  grid-template: 1fr / 1fr;
  text-align: center;
  border: none;
  align-items: center;
  font-size: 3em;
  border-bottom: 1px solid black;
}

#pageBody {
  display: grid;
  grid-row: 2 span 1;
  grid-template: 1fr / 1fr 1fr;
}

#rightBody,
#leftBody {
  display: grid;
  grid-template: 1fr 9fr / 1fr;
  font-size: 2em;
}

#leftBody {
  border-right: 1px solid black;
}

#leftTitle,
#rightTitle {
  text-align: center;
  align-content: center;
  border-bottom: 1px solid black;
}

li,
ul {
  border: 1px solid black;
}